In [37]:
import pandas as pd

In [38]:
movie_df = pd.read_csv("../backend/data/movies_2020_new.csv")
principal_df = pd.read_csv("../backend/data/new_title_principals.csv")
name_df = pd.read_csv("../backend/data/new_name_basics.csv")

In [39]:
# left join movie_df with principal_df
movie_df = movie_df.merge(principal_df, on="tconst", how="left")
# left join movie_df with name_df
movie_df = movie_df.merge(name_df, left_on="nconst", right_on="nconst", how="left")

In [40]:
movie_df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres', 'posterPath', 'backdropPath',
       'trailerPath', 'description', 'ordering', 'nconst', 'category', 'job',
       'characters', 'primaryName', 'birthYear', 'deathYear',
       'primaryProfession', 'knownForTitles'],
      dtype='object')

In [41]:
movie_director_df = movie_df[(movie_df["category"] == "director")].reset_index(drop=True)

In [42]:
movie_director_df["primaryName"].fillna("Unknown", inplace=True)

/tmp/ipykernel_68730/3164321350.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_director_df["primaryName"].fillna("Unknown", inplace=True)

In [43]:
movie_director_list_df = movie_director_df.groupby("tconst")["primaryName"].apply(lambda x: ', '.join(x)).reset_index()
movie_df = pd.read_csv("../backend/data/movies_2020_new.csv")
movie_director_df = movie_df.merge(movie_director_list_df, on="tconst", how="left")
# movie_director_df = movie_df.drop(columns=["nconst", "category"]).merge(movie_director_list_df, on="tconst", how="left")
movie_director_df.shape

(58810, 13)

In [44]:
movie_director_df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres', 'posterPath', 'backdropPath',
       'trailerPath', 'description', 'primaryName'],
      dtype='object')

In [45]:
movie_director_df.rename(columns={"primaryName": "directors"}, inplace=True)

In [46]:
movie_director_df = movie_director_df[["tconst", "primaryTitle", "startYear", "genres", "posterPath", "description", "directors"]]

In [ ]:
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\\n", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\\t", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\\r", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\\", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\n", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\t", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\r", " ", regex=True)
movie_director_df["description"] = movie_director_df["description"].str.replace(r"\\", " ", regex=True)

In [48]:
movie_director_df.tail()

,tconst,primaryTitle,startYear,genres,posterPath,description,directors
58805,tt9898844,The Hunting,2021,"['Horror', 'Mystery', 'Thriller']",https://image.tmdb.org/t/p/w500/kvhrltQIRp1u84...,When a mysterious animal attack leaves a mutil...,Mark Andrew Hamer
58806,tt9900940,Scrapper,2021,"['Crime', 'Drama', 'Thriller']",https://image.tmdb.org/t/p/w500/ydnOAvlBzdqMyB...,"Ex-con turned ""scrapper"" Jake leads a quiet li...",Bari Kang
58807,tt9904648,The Contrast,2022,['Comedy'],https://image.tmdb.org/t/p/w500/sioXCmW4Q2VXLY...,On the day before her wedding to a hipster pla...,"Sean Dube, Presley Paras"
58808,tt9907782,The Cursed,2021,"['Fantasy', 'Horror', 'Mystery']",https://image.tmdb.org/t/p/w500/bewmBcjJxHeipS...,"In the late 19th century, a brutal land baron ...",Sean Ellis
58809,tt9914972,Blind Ambition,2021,['Documentary'],https://image.tmdb.org/t/p/w500/dVTPl57aAkGeui...,The inspiring story of four Zimbabwean men who...,"Robert Coe, Warwick Ross"

In [49]:
movie_director_df.to_csv("../backend/data/movie_director.csv", index=False, encoding="utf-8", sep="\t")